@import "normalize";
@import "skeleton";
@import "mixins";

body {
  background: $background-color;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


header {
  margin: 0;
  padding: 20px;
  color: #fff;
  text-align: center;
  background-color: #fff;

  .logo {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-size: 3em;
    text-shadow: 0.5px 1px 3px rgba(0, 0, 0, 0.3);
    margin: 10px 20px;

    // &:active {
    //   -webkit-box-shadow: inset 0px 2px 4px 1px rgba(0,0,0,0.4);
    //   -moz-box-shadow: inset 0px 2px 4px 1px rgba(0,0,0,0.4);
    //   box-shadow: inset 0px 2px 4px 1px rgba(0,0,0,0.4);

    //   border-radius: 10px 10px 10px 10px;
    //   -moz-border-radius: 10px 10px 10px 10px;
    //   -webkit-border-radius: 10px 10px 10px 10px;
    // }
  }

  .navlist li {
    display: inline;
    padding: 5px;
    //margin: 0 5px;
  }

  .active {
    background-color: rgba(0,0,0,0.1);
  }

  -webkit-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.5);
}

pre code {
  background-color: #fff;
  text-align: center;
}

.main {
  padding-top: 50px;
  padding-bottom: 50px;

}

.restrict-width {
  max-width: 900px;
}

.narrow {
  max-width: 800px;
}

.page-title {
  text-align: center;
}

.submit {
  height: 60px;
  width: 120px;
  font-size: 1em;
}

.about {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 50px;
  color: #fff;
  background-color: #555;
  @include raised();
}

.rules {
  padding: 20px;
  background-color: #f9f9f9;

  @include raised();

  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;

  margin-bottom: 40px;
}

.opacity-half {
  opacity: 0.5;
}

.start {
  text-align: center;
  margin-top: 40px;

  .button-primary {
    @include raised();
  }
}

.high-scores {
  margin-top: 100px;
}

.login-status {
  text-align: right;
  vertical-align: middle;
  position: absolute;
  right: 20px;

  .button {
    height: 30px;
    padding: 0 20px;
    text-align: center;
    line-height: 30px;
  }
}

.login-container {
  text-align: center;
  padding: 60px 2.5px;
  margin: 0 auto;
  background-color: #fefefe;
  @include raised();
  max-width: 400px;
  z-index: 2;
}

.login-form {
  margin: 0 auto;
  max-width: 300px;
}

.login-form-success {
  color: #fff;
  background-color: #43A047;
}

.dashboard-title {
  padding-top: 60px;
  padding-bottom: 60px;
}

.stats {
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
  @include raised();
}

.player-rank {
  font-weight: bold;
  font-size: 10em;
}

@media (max-width: 1000px) {
  .player-rank {
    font-size: 6em;
  }
}
@media (max-width: 750px) {
  .player-rank {
    font-size: 4em;
  }
}

.personal-records {
  text-align: center;
  padding-top: 100px;
  margin: 0 auto;
  //max-width: 700px;
}

.invalid {
  position: relative;
  background-color: #E53935;
  color: #fff;
  max-width: 300px;
  text-align: center;
  @include raised();
  margin: 0 auto;
  z-index: 1;
  padding: 10px;
  padding-top: 20px;

  -webkit-transition: all 500ms ease-in 1s;
  -moz-transition: all 500ms ease-in 1s;
  -o-transition: all 500ms ease-in 1s;
  transition: all 500ms ease-in 1s;
}

footer {
  @include raised();

  padding: 40px;
  background-color: #fff;

  text-align: center;
}

.hidden {
  display: none;
  position: absolute;
}

.raised {
  @include raised();
}

.pricing {
  @extend .rules;
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
}

.play-sidebar {
  width: 100%;
}

.play-content {
  padding-top: 50px;
  padding-bottom: 50px;
}

.adsense-container {
  background-color: #fff;
  min-height: 400px;
}

.preloader {
  padding: 50px;
  background: url('../img/preloader.gif') no-repeat 50% 50% transparent;
}

.gold-features {
  list-style: none;
}

