<div ng-cloak ng-controller="authCtrl">
  <div class="container">
    <div class="row">
      <h3 class="page-title dashboard-title">Hello, {{ user.displayName }}!</h3>
      <br>
    </div>
  </div>
  <div class="stats">
    <h1 class="player-rank u-text-center">{{ (user.wins / (user.wins + user.losses)) * 100 | number:1 }}%</h1>
    <div class="win-loss">
      <div class="wins-half u-pull-left" style="width: {{ (user.wins / (user.wins + user.losses)) * 100 | number:1 }}%;"></div>
      <div class="loss-half u-pull-right" style="width: {{ 100 - ((user.wins / (user.wins + user.losses)) * 100) | number:1 }}%;"></div>
    </div>
    <h4 class="u-pull-left stats-label">&larr; Wins</h4>
    <h4 class="u-pull-right stats-label">Losses &rarr;</h4>
  </div>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="personal-records">
        <h4>Personal Records</h4>
        <p>Match timing and records are coming soon.</p>
        <!-- <ul>
          <li>Fastest Win: {{ user.fastest }}</li>
          <li>Longest Match: {{ user.longest }}</li>
        </ul> -->
      </div>
    </div>
    <hr>
    <div class="row u-text-center">
      <div class="dashboard-object">
        <h4>Change Your Display Name</h4>
        <p>Don't like your name? Change it. It's that easy.</p>
        <form name="displayNameChange" ng-submit="changeDisplayName()" id="displayname-form" class="dashboard-form u-block-center">
          <div class="ten columns"><input id="displayName" type="text" placeholder="{{ user.displayName }}" class="u-full-width" ng-model="displayName" required></div>
          <div class="two columns"><input type="submit" value="&gt;" id="login-submit" class="u-full-width"></div>
        </form>
        <div class="hidden displayname-success">
          <p>Display Name Changed Successfully!</p>
        </div>
      </div>
    </div>
    <br>
    <hr>
    <div class="row u-text-center">
      <div class="dashboard-object">
        <h4>Change Your Password</h4>
        <p>Whatever the reason is, here you go.</p>
        <form name="passwordChange" ng-submit="changePassword()" id="change-password-form" class="dashboard-form u-block-center">
          <input id="oldPassword" type="password" placeholder="Old Password" class="u-full-width" ng-model="oldPassword" required>
          <input id="newPassword" type="password" placeholder="New Password" class="u-full-width" ng-model="newPassword" required>
          <input type="submit" value="Change Password" id="login-submit" class="u-full-width">
        </form>
        <div class="hidden change-password-success">
          <p>Password Successfully Changed</p>
        </div>
      </div>
    </div>
  </div>
</div>
