<div ng-controller="authCtrl">
  <div class="container">
    <div class="row">
      <h3 class="page-title dashboard-title">Hello, {{ user.displayName }}!</h3>
      <br>
    </div>
  </div>
  <div class="stats">
    <div class="container">
      <div class="row">
        <div class="six columns">
          <h4>Player Rank</h4>
          <h1 class="u-text-center" id="player-rank">{{ 25 }}</h1>
        </div>
        <div class="six columns">
          <h4>Win Rate</h4>
          <!-- <div id="donut_single" style="height: 300px;"></div> -->
          <h1 class="u-text-center" id="player-rank">{{ (user.wins / (user.wins + user.losses)) * 100 | number:1 }}%</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="personal-records">
        <h4>Personal Records</h4>
        <ul>
          <li>Fastest Win: {{ user.fastest }}</li>
          <li>Longest Match: {{ user.longest }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
