<div ng-cloak ng-controller="authCtrl">
  <div class="container">
    <div class="row">
      <h3 class="page-title dashboard-title">Hello, {{ user.displayName }}!</h3>
      <br>
    </div>
  </div>
  <div class="stats">
    <div class="container">
      <div class="row">
        <div class="six columns">
          <h4>Player Rank</h4>
          <h1 class="u-text-center player-rank">{{ 5/0 }}</h1>
        </div>
        <div class="six columns">
          <h4>Win Rate</h4>
          <!-- <div id="donut_single" style="height: 300px;"></div> -->
          <h1 class="u-text-center player-rank">{{ (user.wins / (user.wins + user.losses)) * 100 | number:1 }}%</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="personal-records">
        <h4>Personal Records</h4>
        <p>Match timing and records are coming soon.</p>
        <!-- <ul>
          <li>Fastest Win: {{ user.fastest }}</li>
          <li>Longest Match: {{ user.longest }}</li>
        </ul> -->
      </div>
    </div>
    <hr>
    <div class="row u-text-center">
      <div class="dashboard-object">
        <h4>Change Your Display Name</h4>
        <p>Don't like your name? Change it. It's that easy.</p>
        <form name="displayNameChange" ng-submit="changeDisplayName()" id="displayname-form" class="dashboard-form u-block-center">
          <div class="ten columns"><input id="displayName" type="text" placeholder="{{ user.displayName }}" class="u-full-width" ng-model="displayName" required></div>
          <div class="two columns"><input type="submit" value="&gt;" id="login-submit" class="u-full-width"></div>
        </form>
        <div class="hidden displayname-success">
          <p>Display Name Changed Successfully!</p>
        </div>
      </div>
    </div>
    <br>
    <hr>
    <div class="row u-text-center">
      <div class="dashboard-object">
        <h4>Change Your Password</h4>
        <p>Whatever the reason is, here you go.</p>
        <form name="passwordChange" ng-submit="changePassword()" id="change-password-form" class="dashboard-form u-block-center">
          <input id="oldPassword" type="password" placeholder="Old Password" class="u-full-width" ng-model="oldPassword" required>
          <input id="newPassword" type="password" placeholder="New Password" class="u-full-width" ng-model="newPassword" required>
          <input type="submit" value="Change Password" id="login-submit" class="u-full-width">
        </form>
        <div class="hidden change-password-success">
          <p>Password Successfully Changed</p>
        </div>
      </div>
    </div>
  </div>
</div>
