<div class="container restrict-width">
  <div class="row">
    <h2 class="page-title">&mdash; Typy Gold &mdash;</h2>
    <p class="page-title">
      Get a premium paid account to support the development of Typy.
    </p>
    <div class="pricing u-text-center">
    	<h1>$4.99 <sup>/mo.</sup></h1>
      <a href="#" class="button button-primary raised">Subscribe</a>
    </div>
  </div>
</div>