<div class="container restrict-width">
  <div class="row">
    <h2 class="page-title">&mdash; Typy Gold &mdash;</h2>
    <p class="page-title">
      Get a premium paid account to support the development of Typy.
    </p>
  </div>
  <br>
  <hr>
  <br>
  <div class="row">
    <div class="pricing u-text-center">
    	<h1>$1.99 <sup>/mo.</sup></h1>
      <a href="#" class="button button-primary raised">Subscribe</a>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <div class="row">
    <h3 class="page-title">&mdash; Features &mdash;</h3>
    <ul class="gold-features">
      <li>
        <h4>No Ads</h4>
        <p>Every Typy Gold subscriber is freed from the terribleness of having to look at ads while playing Typy. Isn't that great? So stop using adblock and just get Typy Gold.</p>
      </li>
      <hr>
      <li>
        <h4>Status</h4>
        <p>Alright, so maybe 'status' is pushing it. But you'll get a cool little flair next to your name to let everybody know you support Typy and are a cool guy.</p>
      </li>
      <hr>
      <li>
        <h4>More to come.</h4>
        <p>The benefits of Typy Gold don't stop there. We're always trying to come up with more ways to make Typy Gold awesome.</p>
      </li>
    </ul>
  </div>
</div>