<div class="container">
  <div class="row">
    <div ng-controller="authCtrl" class="login-container">
      <div class="signup-form-container">
        <h3 class="page-title">Guest Login</h3>
        <hr>
        <form ng-submit="loginAsGuest()" id="login-form" class="login-form">
          <input id="signup-username" type="text" placeholder="Display Name" class="u-full-width" ng-model="displayName" required>
          <input type="submit" value="Login As Guest" id="guest-login-submit" class="button-primary">
        </form>
        <hr>
        <a href="/signup.html">Create an Account</a><br>
        <a href="/login.html">Log In to an Existing Account</a><br>
      </div>
    </div>
    <div class="hidden invalid">
      <p>There was a problem. Please try again in a bit.</p>
    </div>
  </div>
</div>
