<div class="container restrict-width">
  <div class="row howto">
    <div class="narrow">
      <h2 class="page-title">&mdash; HOW TO PLAY &mdash;</h2>
      <p>Typy is a very simple game played by two (or potentially more) players. Here's what you need to know:</p>
    </div>

    <div class="rules">
      <ul>
        <li>There are two text boxes, one above the other.</li>
        <li>The text box at the top is yours, the one below it is your opponent's.</li>
        <li>You can edit both text boxes and so can you're opponent.</li>
        <li>The first person to type in the entire phrase correctly wins!</li>
      </ul>
    </div>
    
    <div class="narrow">
      <p>Now that you've got a decent idea of how to play, its time to play for real! Click that button down there or click "Play" at the top of this page to start playing Typy.</p>
    </div>
    <div class="start"><a class="button button-primary" href="/play">START PLAYING</a></div>
  </div>
</div>