<div class="container">
	<div class="row">
    <h1 class="page-title">A RAD TYPING GAME</h1>
    <pre><code>animated image of the game being played will go here</code></pre>
    <div class="start">
      <a class="button button-primary" href="/play.html">START PLAYING</a>
    </div>
	</div>
</div>

<div class="container high-scores">
  <div class="row">
    <h3 class="page-title">&mdash; HIGH SCORES &mdash;</h3>
    {{ authData }}
    <!-- <div class="leaderboard">
      <table id="leaderboardTable">
        <tr>
          <th>Player</th>
          <th>Score</th>
        </tr>
      </table>
    </div> -->
  </div>
</div>

<!-- <script src="leaderboard.js"></script> -->