<div class="container">
  <div ng-controller="authCtrl" class="row">
    <div class="login-container">
      <div ng-hide="authData" class="login-form-container">
        <h3 class="page-title">Login</h3>
        <hr>
        <form ng-submit="login()" id="login-form" class="login-form">
          <input id="login-email" type="email" placeholder="Email" class="u-full-width" ng-model="email" required>
          <input id="login-password" type="password" placeholder="Password" class="u-full-width" ng-model="password" required>
          <input type="submit" value="Login" id="login-submit" class="button-primary">
        </form>
        <hr>
        <a href="/signup.html">Create an Account</a><br>
        <a href="/forgot.html">Forgot your password?</a>
      </div>
    </div>
    <div class="hidden invalid">
      <p>Incorrect Username or Password</p>
    </div>
  </div>
</div>