<div class="container">
  <div ng-controller="gameCtrl" class="row">
    <div ng-if="authData === null" class="login-container">
      <a href="/login.html" class="u-full-width button button-primary">Login</a>
      <a href="/signup.html" class="u-full-width button button-primary">Sign Up</a>
      <hr>
      <a class="u-full-width button button-primary">Play as a Guest</a>
    </div>
    <div ng-if="authData" class="game-container" oncopy="return false" oncut="return false" onpaste="return false">
      <h2 class="page-title" ng-hide="game.countdown < 1">Game begins in {{ game.countdown }}.</h2>
      <h1 class="page-title" ng-show="game.countdown < 1">GO!</h1>
      <hr>
      <pre ng-if="game.countdown < 1"><code>{{ game.phrase }}</code></pre>
      <h5 class="page-title" ng-if="game.player2 === '...'">... Waiting for Player 2 ...</h5>
      <hr>
      <form>
        <label for="player1input">{{ game.player1 }}</label>
        <input 
          class="u-full-width" 
          type="text"
          ng-disabled="isDisabled()"
          ng-model="game.input1"
          ng-change placeholder="You"
          id="player1input">
        <label for="player2input">{{ game.player2 }}</label>
        <input 
          class="u-full-width" 
          type="text" 
          ng-disabled="isDisabled()" 
          ng-model="game.input2" 
          ng-change placeholder="Your Opponent" 
          id="player2input">
      </form>
      <div>
        <h1 ng-if="game.input1 === game.phrase">{{ game.player1 }} wins!</h1>
        <h1 ng-if="game.input2 === game.phrase">{{ game.player2 }} wins!</h1>
      </div>
    </div>
  </div>
</div>
