<div class="container">
  <div ng-controller="gameCtrl" class="row">
    <div ng-if="authData === null" class="login-container">
      <a href="/login.html" class="u-full-width button button-primary">Login</a>
      <a href="/signup.html" class="u-full-width button button-primary">Sign Up</a>
      <hr>
      <a class="u-full-width button button-primary">Play as a Guest</a>
    </div>
    <div ng-if="authData" class="game-container">
      <h2 class="page-title" ng-hide="game.countdown < 1">Game begins in {{ game.countdown }}.</h2>
      <h1 class="page-title" ng-show="game.countdown < 1">GO!</h1>
      <hr>
      <pre><code ng-if="game.countdown < 1">{{ game.phrase }}</code></pre>
      <hr>
      <form>
        <label for="player1input">{{ game.player1 }}</label>
        <input class="u-full-width" type="text" ng-disabled="game.countdown > 0" ng-model="game.input1" ng-change placeholder="You" id="player1input">
        <label for="player2input">{{ game.player2 }}</label>
        <input class="u-full-width" type="text" ng-disabled="game.countdown > 0" ng-model="game.input2" ng-change placeholder="Your Opponent" id="player2input">
      </form>
    </div>
  </div>
</div>
