<div class="container">
  <div class="row">
    <h2 class="page-title">Game begins in 10.</h2>
    <hr>
    <pre><code>The quick brown fox.</code></pre>
    <hr>
    <form>
      <input class="u-full-width" type="email" placeholder="You" id="player1">
      <input class="u-full-width" type="email" placeholder="Your Opponent" id="player2">
      <div class="start">
        <button class="submit button-primary" type="submit">SUBMIT</button>
      </div>
    </form>
  </div>
</div>
