<div class="container">
  <div class="row">
    <div ng-controller="authCtrl" class="login-container">
      <div class="signup-form-container">
        <h3 class="page-title">Sign Up</h3>
        <hr>
        <form ng-submit="createUser()" id="login-form" class="login-form">
          <input id="signup-username" type="text" placeholder="Display Name" class="u-full-width" ng-model="displayName" required>
          <input id="signup-email" type="email" placeholder="Email" class="u-full-width" ng-model="email" required>
          <input id="signup-password" type="password" placeholder="Password" class="u-full-width" ng-model="password" required>
          <input type="submit" value="Sign Up" id="signup-submit" class="button-primary">
        </form>
        <hr>
        <a href="/login.html">Log In to an Existing Account</a><br>
      </div>
    </div>
  </div>
</div>
