<!DOCTYPE html>
<html lang="en">
<head>
	<title>Typy: A typing game!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="css/main.css">
  
  <!-- External Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.2.6/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- // <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
  

  <!-- Javascripts -->
  <script src="js/main.js"></script>
  <script src="js/auth.js"></script>
  <script src="js/typy.js"></script>
</head>
<body ng-app="typy">
  <header class="header">
    <div ng-cloak ng-controller="authCtrl" class="login-status">
      <div ng-if="authData" class="login-buttons">
        <a href="/dashboard.html" alt="Dashboard">Dashboard</a>
        <a ng-click="logout()" class="button">Logout</a>
      </div>
      <div ng-if="authData === null" class="login-buttons">
        <a href="/login.html" class="button">Login</a>
        <a href="/signup.html" class="button button-primary">Sign Up</a>
      </div>
    </div>
    <a href="/" class="logo"><img src="img/typylogosmall.png" alt="Typy" /></a>
    <ul class="navlist">
      <li><a href="/play.html" alt="Play Typy!">Play</a></li>
      <li><a href="/howtoplay.html" alt="Learn How to Play">How To Play</a></li>
      <li><a href="/about.html" alt="About Typy">About</a></li>
      <li><a href="http://officialtypy.tumblr.com" target="_blank" alt="Official Typy Blog">Blog</a></li>
    </ul>
  </header>

  <main class="main">
    <!-- inject main views -->
    <div ng-cloak>
      <div class="container">
  <div ng-controller="gameCtrl" class="row">
    <div class="two columns">
      <div class="play-sidebar">
        <!-- Typy In Game Header -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8593968956647437" data-ad-slot="3676540314" data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

      </div>
    </div>
    <div class="eight columns play-content">
      <div ng-if="authData === null" class="login-container">
        <div class="login-form">
          <p class="page-title opacity-half">Make an account so you can get a cool display name and track your wins!</p>
          <a href="/login.html" class="u-full-width button button-primary">Login</a>
          <a href="/signup.html" class="u-full-width button button-primary">Sign Up</a>
        </div>
        <hr>
        <div class="login-form">
          <p class="page-title opacity-half">Don't feel like making an account?</p>
          <a class="u-full-width button button-primary">Play as a Guest</a>
        </div>
      </div>
      <div ng-if="authData" class="game-container" oncopy="return false" oncut="return false" onpaste="return false">
        <div ng-hide="game === undefined">
          <h2 class="page-title" ng-hide="game.countdown < 1">Game begins in {{ game.countdown }}.</h2>
          <h1 class="page-title" ng-show="game.countdown < 1">GO!</h1>
          <hr>
          <pre ng-if="game.countdown < 1"><code>{{ game.phrase }}</code></pre>
          <h5 class="page-title" ng-if="game.player2 === '...'">... Waiting for Player 2 ...</h5>
          <hr>
          <div ng-hide="isDisabled()">
            <form ng-if="user.$id === game.player1">
              <label for="player1input">{{ game.player1name }} <!-- <span class="gold-flair" ng-if="Profile(player1).gold">GOLD MEMBER</span> --></label>
              <input class="u-full-width" type="text" ng-disabled="game.countdown > 0" ng-model="game.input1" ng-change placeholder="You" id="player1input">
              <label for="player2input">{{ game.player2name }} <!-- <span class="gold-flair" ng-if="Profile(player2).gold">GOLD MEMBER</span> --></label>
              <input class="u-full-width" type="text" ng-disabled="game.countdown > 0" ng-model="game.input2" ng-change placeholder="Your Opponent" id="player2input">
            </form>
            <form ng-if="user.$id === game.player2">
              <label for="player2input">{{ game.player2name }} <!-- <span class="gold-flair" ng-if="Profile(player2).gold">GOLD MEMBER</span> --></label>
              <input class="u-full-width" type="text" ng-disabled="game.countdown > 0" ng-model="game.input2" ng-change placeholder="You" id="player2input">
              <label for="player1input">{{ game.player1name }} <!-- <span class="gold-flair" ng-if="Profile(player1).gold">GOLD MEMBER</span> --></label>
              <input class="u-full-width" type="text" ng-disabled="game.countdown > 0" ng-model="game.input1" ng-change placeholder="Your Opponent" id="player1input">
            </form>
          </div>
          <div ng-if="game.winner">
            <h1 ng-if="game.input1 === game.phrase" class="page-title">{{ game.player1name }} wins!</h1>
            <h1 ng-if="game.input2 === game.phrase" class="page-title">{{ game.player2name }} wins!</h1>
          </div>
        </div>
        <div ng-if="gameOver">
          <a href="/play.html" class="text-center button button-primary">Refresh Page for New Game</a>
        </div>
      </div>
    </div>
    <div class="two columns">
      <div class="play-sidebar">
        <!-- Typy In Game Footer -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8593968956647437" data-ad-slot="5153273516" data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </div>
  </div>
</div>
    </div>
  </main>

  <footer>
    <div class="container">
      <div class="row">
        &copy;<script>document.write(new Date().getFullYear())</script> <a href="http://kamranpayne.com" alt="Typy's Creator's Website">Kamran64</a>
      </div>
    </div>  
  </footer>

  
</body>
</html>