<!DOCTYPE html>
<html>
<head>
	<title>Typy: A typing game!</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="css/main.css">
  
  <!-- Angular/Firebase Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.2.6/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>

  <!-- Javascripts -->
  <script>
    var app = angular.module("typy", ["firebase"]);
  </script>
  <script src="js/auth.js"></script>
  <script src="js/typy.js"></script>
</head>
<body ng-app="typy">
  <header class="header">
    <div ng-controller="authCtrl" class="login-status">
      <div ng-if="authData" class="login-buttons">
        <a href="/dashboard.html" alt="Dashboard">Dashboard</a>
        <a ng-click="logout()" class="button">Logout</a>
      </div>
      <div ng-if="authData === null" class="login-buttons">
        <a href="/login.html" class="button">Login</a>
        <a href="/signup.html" class="button button-primary">Sign Up</a>
      </div>
    </div>
    <a href="/" class="logo"><img src="img/typylogosmall.png" alt="Typy" /></a>
    <ul class="navlist">
      <li><a href="/play.html" alt="Play Typy!">Play</a></li>
      <li><a href="/howtoplay.html" alt="Learn How to Play">How To Play</a></li>
      <li><a href="/about.html" alt="About Typy">About</a></li>
      <li><a href="http://officialtypy.tumblr.com" target="_blank" alt="Official Typy Blog">Blog</a></li>
    </ul>
  </header>

  <main class="main">
    <!-- inject main views -->
    <div class="container">
  <div class="row">
    <div ng-controller="authCtrl" class="login-container">
      <div class="signup-form-container">
        <h3 class="page-title">Sign Up</h3>
        <hr>
        <form ng-submit="createUser()" id="login-form" class="login-form">
          <input id="signup-username" type="text" placeholder="Display Name" class="u-full-width" ng-model="displayName" required>
          <input id="signup-email" type="email" placeholder="Email" class="u-full-width" ng-model="email" required>
          <input id="signup-password" type="password" placeholder="Password" class="u-full-width" ng-model="password" required>
          <input type="submit" value="Sign Up" id="signup-submit" class="button-primary">
        </form>
        <hr>
        <a href="/login.html">Log In to an Existing Account</a><br>
      </div>
    </div>
  </div>
</div>
  </main>

  <footer>
    <div class="container">
      <div class="row">
        &copy;<script>document.write(new Date().getFullYear())</script> <a href="http://kamranpayne.com" alt="Typy's Creator's Website">Kamran64</a>
      </div>
      <hr />
      <div class="row">
        <p>If you like Typy, please support it by throwing a few bucks our way!</p>
        <a href="/tipjar.html" alt="Support Typy" class="button button-primary">Tip Jar</a>
      </div>
    </div>  
  </footer>

  
</body>
</html>